{% load bootstrap4 %}
{% load static %}
<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <link rel="stylesheet"
        href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'base/main.css' %}" type="text/css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!-- jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- AOS CSS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <title>MyWebsite</title>
</head>

<body style="overflow-x: hidden;">

    <!-- Parallax landing with nav -->

    <div class="wrapper">
        <div class="parallax">
            <section class="pfblock-image screen-height">
                <div class="intro" style="overflow-x: hidden">

                    <div class="start" style="color:black;" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                        data-aos-delay="100">HI!</div>

                    <div class="start" style="color:black;" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                        data-aos-delay="300"> I AM DAVID</div>

                    <h3 style="color:black;" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                        data-aos-delay="500">
                        FULL-STACK DEVELOPER</h3>

                    <div class="contactme" style="overflow: hidden;" data-aos="fade-zoom-in"
                        data-aos-easing="ease-in-back" data-aos-delay="600">

                        <a href="https://www.linkedin.com/in/daviddrughi/" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/DavidColds" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="#contact"><i class="fa fa-envelope"></i></a>

                    </div>
                </div>

                <div class="scroll-down-text" style="color:black;">Scroll me!</div>
            </section>
        </div>
        <header>
            <div id="background">
                <section>

                    <a href="#about" class="scroll-down" address="true">
                    </a>

                </section>
            </div>
        </header>
    </div>


    <br>

    <div class="site">
        <nav>

            <a class="nav-item nav-link" href="#about">About</a>

            <a class="nav-item nav-link" href="#projects">Projects</a>

            <a class="nav-item nav-link" href="#technologies">Technologies </a>

            <a class="nav-item nav-link" href="#contact">Contact </a>

        </nav>
    </div>



    <!-- About me section -->

    <section data-aos="fade-down" data-aos-anchor-placement="bottom-bottom" id="about">
        <div class="container">
            <div class="feature-content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4>About Me</h4>
                        <p> Hello, My name is David Drughi, and I am a Stockholm based Full-Stack Developer. I am a
                            self-motivated person who is willing to
                            go above and beyond on any project, and to learn valuable skills on my own time.I know you
                            are looking for a self-motivated computer technician
                            with both skills and passion, and I am that person.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--End about me section -->


    <!-- What I do cards  -->
    <div class="box" style="overflow-x: hidden">
        <div class="container">
            <div data-aos="zoom-in-up" id='box_text' class="col-lg-8 offset-lg-2 text-center">
                <h3>
                    THIS IS WHAT I CAN DO
                </h3>
                <hr>
            </div>
            <div class="row">
                <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
                    class="col-lg-3 col-md-6 col-sm-4 col-xs-12">
                    <div class="box-part text-center">
                        <i class="fas fa-magic fa-3x" aria-hidden="true"></i>
                        <div class="title">
                            <h4>Design</h4>
                        </div>
                        <div class="text">
                            <span>
                                UI/UX programer with passion for creating beautiful and functional user experience.
                            </span>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
                    class="col-lg-3 col-md-6 col-sm-4 col-xs-12">
                    <div class="box-part text-center">
                        <i class="fas fa-file-code fa-3x" aria-hidden="true"></i>
                        <div class="title">
                            <h4>Develop</h4>
                        </div>
                        <div class="text">
                            <span>
                                I will create an entire webb app to help you to push your brand to the next level.
                            </span>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"
                    class="col-lg-3 col-md-6 col-sm-4 col-xs-12">
                    <div class="box-part text-center">
                        <i class="fas fa-hands-helping fa-3x" aria-hidden="true"></i>
                        <div class="title">
                            <h4>Consultation</h4>
                        </div>
                        <div class="text">
                            <span> I will help you to get to take the best decision regarding software or
                                hardware.</span>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"
                    class="col-lg-3 col-md-6 col-sm-4 col-xs-12">
                    <div class="box-part text-center">
                        <i class="fas fa-hard-hat fa-3x" aria-hidden="true"></i>
                        <div class="title">
                            <h4>Responsive</h4>
                        </div>
                        <div class="text">
                            <span> I will adapt your website fot the best possible user experience on all devices!
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End What I do cards -->

    <br>

    <!-- Projects -->

    <br>
    <br>
    <br>

    <div id='projects' class="col-lg-8 offset-lg-2 text-center">
        <h2>My Work</h2>
        <hr>
        <h5> Here is some of my work </h5>
        <h5> More and better projects are on the way</h5>
        <br>
    </div>

    <br>

    <div data-aos="fade-left" class="projetcs">
        <div class="container col-md-8">
            <div id='card' class="row">

                <div data-aos="zoom-in-right" class="col-lg-5 col-md-12 mb-lg-0 mb-5">
                    <div class="view overlay rounded z-depth-1">
                        <a href="https://winebordeaux.herokuapp.com/" target="blank">
                            <img src="../static/img/wine.jpg" class="img-fluid" alt="Sample project image">
                        </a>
                    </div>
                </div>

                <div data-aos="zoom-out-left" class="col-lg-7 col-md-8">

                    <br>
                    <div class="row mb-3">
                        <div class="col-md-1 col-2">
                            <i class="fas fa-project-diagram fa-2x cyan-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h2>E-commerce website</h2>
                            <p class="grey-text">A full-stack ecommerce site basesd around
                                business logic used to aria-controls a centrally-owned dataset.</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-1 col-2">
                            <i class="fas fa-code fa-2x red-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Technology</h5>
                            <p class="grey-text">
                                HTML, CSS, BOOTSTRAP, JAVASCRIP, DJANGO, PYTHON, GITHUB, STRIPE, AWS and HEROKU
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-1 col-2">
                            <i class="fas fa-cloud fa-2x deep-purple-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">The Code</h5>
                            <div class="contactme">
                                <a href="https://github.com/DavidColds/ecommerce" target="blank"><i
                                        class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>


    <br>


    <div data-aos="fade-right" class="projetcs">
        <div class="container col-md-8">
            <div id='card' class="row">
                <div data-aos="zoom-out-right" class="col-lg-7 col-md-8">
                    <br>

                    <div class="row mb-3">
                        <div class="col-md-1 col-2">
                            <i class="fas fa-project-diagram fa-2x cyan-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h2>Recipe Webb app</h2>
                            <p class="grey-text">This is a recipe webb app where the user
                                can create an account and add recipes. The same user can
                                edit and delete their own recipes.
                            </p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-1 col-2">
                            <i class="fas fa-code fa-2x red-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Technology</h5>
                            <p class="grey-text">
                                HTML, CSS, MATERIALISE, JAVASCRIP, PYTHON, PYMONGO, FLASK and MONGODB
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1 col-2">
                            <i class="fas fa-cloud fa-2x deep-purple-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Deployment</h5>
                            <div class="contactme">
                                <a href="https://github.com/DavidColds/food_app" target="blank"><i
                                        class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

                <div data-aos="zoom-in-left" class="col-lg-5 col-md-12 mb-lg-0 mb-4">
                    <div class="view overlay rounded z-depth-1">
                        <a href="https://supreme-food.herokuapp.com" target="blank">
                            <img src="../static/img/foodapp.jpg" class="img-fluid" alt="Sample project image">
                        </a>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>


    <br>


    <div data-aos="fade-left" class="projetcs">
        <div class="container col-md-8">
            <div id='card' class="row">
                <div data-aos="zoom-in-right" class="col-lg-5 col-md-12 mb-lg-0 mb-4">
                    <div class="view overlay rounded z-depth-1">
                        <a href="https://davidcolds.github.io/Travel/" target="blank">
                            <img src="../static/img/Travel.jpg" class="img-fluid" alt="Sample project image">
                        </a>
                    </div>
                </div>
                <div data-aos="zoom-out-left" class="col-lg-7 col-md-8">


                    <br>

                    <div class="row mb-3">
                        <div class="col-md-1 col-2">
                            <i class="fas fa-project-diagram fa-2x cyan-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h2>Travel Webb App</h2>
                            <p class="grey-text">
                                Travel is an app where the user can select a location anywhere on
                                globe. After the selected location the app will provide with: Museums, Restaurants,
                                Bars, Night Club and even Hotels closest to the user.
                            </p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-1 col-2">
                            <i class="fas fa-code fa-2x red-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Technology</h5>
                            <p class="grey-text">
                                HTML, CSS, BOOTSTRAP, JAVASCRIP, DJANGO, GOOGLE MAPS APIS and JQUERY.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1 col-2">
                            <i class="fas fa-cloud fa-2x deep-purple-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Deployment</h5>
                            <div class="contactme">
                                <a href="https://github.com/DavidColds/Travel"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

    </div>

    <br>

    <div class="container-fluid">
        <section id="technologies">
            <div class="col" style="justify-content: center;text-align: center">
                <h3>
                    Front-End
                </h3>
                <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" class="technologies">
                    <i class="devicon-css3-plain"></i>
                    <i class="devicon-html5-plain"></i>
                    <i class="devicon-javascript-plain"></i>
                    <i class="devicon-bootstrap-plain"></i>
                    <i class="devicon-jquery-plain-wordmark"></i>
                    <i class="devicon-vuejs-plain-wordmark"></i>
                </div>
                <br>
                <h3>
                    Back-End
                </h3>
                <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="200" class="technologies">
                    <i class="devicon-django-plain-wordmark plain"></i>
                    <i class="devicon-python-plain"></i>
                    <i class="devicon-mongodb-plain-wordmark"></i>
                    <i class="devicon-amazonwebservices-plain-wordmark"></i>
                    <i class="devicon-mysql-plain-wordmark"></i>
                </div>
                <br>
                <h3>
                    Other Skills
                </h3>
                <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500" class="technologies">
                    <i class="devicon-heroku-original"></i>
                    <i class="devicon-github-plain"></i>
                    <i class="devicon-photoshop-line"></i>
                    <i class="devicon-illustrator-line"></i>
                </div>
            </div>
        </section>
    </div>


    <!-- Contact  -->


    <hr>


    <div id="hire_me">
        <div id='contact' class="parallax">
            <div class="col-lg-12 text-box text-center">
                <h1>Are you ready to start?</h1>
                <br>
                <h2> I'm available for new projects.
                </h2>
                <h4> Email me!</h4>
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
    </div>
    <br>
    <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="container-fluid">
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                        <form name="myForm" class="form" action="#" onsubmit="return validateForm()" method="POST"
                            role="form">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="form-actions">
                                <div class="text-center margin-top-25">
                                    <button type="submit" class="btn btn-mod btn-border btn-large">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <br>



    <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="0">
        <footer>
            <div class="footer-limiter">
                <div class="footer-right">

                    <a href="https://www.linkedin.com/in/daviddrughi/" target="_blank"><i
                            class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/DavidColds" target="_blank"><i class="fa fa-github"></i></a>

                </div>

                <div class="footer-left">

                    <p class="footer-links">My Website</p>

                    <p>Drughi David © 2020</p>
                </div>

            </div>

        </footer>
    </div>

    <!-- JavaScript -->

    <!-- jQuery -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>

    <script type="text/javascript" src="{% static 'js/main.js'%}"></script>
</body>

</html>