/*
============================================================= 
General Style
============================================================= 
*/
body,
html {
  font-family: 'Raleway', sans-serif;
  background-color: #111111;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 10px;
}

hr {
  background:#d5ad18;
  box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


/*
============================================================= 
Background
============================================================= 
*/

.hero {
  position: relative;
  background: url(../img/cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  height: 100vh;
  letter-spacing: 2px;
}

.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}

.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

.intro {
  position: absolute;
  width: 100%;
  top: 35%;
  left: 0;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  padding: 0 15px;
}

.intro h3 {
  font-weight: 800;
}

.start {
  font-family: 'Raleway', sans-serif;
  font-size: 76px;
  font-style: normal;
  text-transform: none;
  margin: 0px 0;
  letter-spacing: 11px;
}

/*
============================================================= 
Navbar
============================================================= 
*/

.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
}

@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}

.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid #d5ad18;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}

@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}

@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}

nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #d5ad18;
  display: block;
}

.main_h .row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

/*
============================================================= 
Scroll Btn
============================================================= 
*/


.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down p {
  font-size: 30px;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid rgb(0, 0, 0);
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid rgb(0, 0, 0);
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.scroll-down-text {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  width: 100%;
  top: 88%;
  left: 0;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  padding: 0 15px;
}


/*
============================================================= 
About Section
============================================================= 
*/

.display-3 {
  color: #FFB302;

}

#about {
  background-color: rgb(65, 65, 65);
  font-size: 25px;
  color: rgb(189, 189, 189);
}

/* projects text */
#projects {
  color: #8f9296;

}

/*end projects text*/
.feature-content {
  padding: 8rem 0;
  overflow: hidden;
}



/*
============================================================= 
services section
============================================================= 
*/



#services {
  background-color: rgba(65, 65, 65, 0.897);
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 140px 0;
}

.service-block {
  color:white;
  padding: 30px;
}

.service-block .icon {
  color: rgb(235, 235, 235);
  font-size: 60px;
  opacity: 1;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.service-block .service-icon-animate {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.hb:nth-child(1),
.hb:nth-child(2),
.hb:nth-child(3) {
  border-bottom: 1px #d5ad18 solid;
}

@media screen and (max-width: 991px) {
  .hb:nth-child(-n+4) {
    border-bottom: 1px #d5ad18 solid;
  }
}

@media screen and (max-width: 768px) {
  .hb:nth-child(5) {
    border-bottom: 1px #d5ad18 solid;
  }
}

.vb:nth-child(1),
.vb:nth-child(2),
.vb:nth-child(4),
.vb:nth-child(5) {
  border-right: 1px #d5ad18 solid;
}

@media screen and (max-width: 991px) {

  .vb:nth-child(1),
  .vb:nth-child(2),
  .vb:nth-child(4),
  .vb:nth-child(5) {
    border-right: none;
  }

  .vb:nth-child(2n+1) {
    border-right: 1px #d5ad18 solid;
  }
}

@media screen and (max-width: 768px) {
  .vb:nth-child(-n+6) {
    border-right: none;
  }
}













































/******************************************* end What I do **/


/******************************************* Project card **/

.responsive {
  width: 100%;
  height: auto;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}


.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: auto;
  border: none;
  border-style: none;

}

#card {
  border-style: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}



/******************************************* End Project card **/




/******************************************* parallax hireme  **/



#hire_me .parallax {
  font-family: 'Raleway', sans-serif;
  background-image: url("https://images.unsplash.com/photo-1547860546-fa91780a4ef3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1569&q=80");
  height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}


.text-box {
  height: 600px;
  padding: 50px;
}

@media only screen and (max-device-width: 1024px) {
  .parallax {
    background-attachment: scroll;
  }
}




/******************************************* End  **/



/* start contact me */
.contactme a {
  display: inline-block;
  width: 55px;
  height: 45px;
  border-radius: 2px;
  font-size: 30px;
  color: #181818;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  margin: 10px;
}

#contact {
  font-family: 'Raleway', sans-serif;
  background-color: #e9e9e9;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 70px;
}

#success-message {
  opacity: 0;
}


.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
  padding: 0 20% 0 20%;
}

.margin-top-25 {
  margin-top: 25px;
}

.form-title {
  padding: 45px;
  font-size: 30px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

.form-group .form-control {
  border-bottom: 1px;
  border-style: none none solid none;
  border-radius: 0;
  border-color: #000;
}

.form-group .form-control:focus {
  box-shadow: none;
  border-width: 0 0 2px 0;
  border-color: #000;

}

textarea {
  resize: none;
}

.btn-mod.btn-large {
  height: auto;
  padding: 13px 52px;
  font-size: 15px;
}

.btn-mod.btn-border {
  color: #292c2f;
  background: transparent;
}

.btn-mod,
a.btn-mod {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 13px;
  color: #fff;
  background: #292c2f;
  border: 1px solid transparent;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:active,
.btn-mod.btn-border:focus,
.btn-mod.btn-border:active:focus {
  color: #fff;
  border-color: #000;
  background: #292c2f;
  outline: none;
}

@media only screen and (max-width: 500px) {
  .btn-mod.btn-large {
    padding: 6px 16px;
    font-size: 11px;
  }

  .form-title {
    font-size: 20px;
  }
}

/* end contact me */

/******************************************* End Contact  **/


/******************************************* End Page section show  **/




.technologies {
  margin-top: 25px;
  font-size: 1.9em;
  flex-wrap: wrap;
  background-color: #f5f5f5b2;
}


/******************************************* End Page section show  **/

/******************************************* Footer  **/


footer {
  font-family: 'Raleway', sans-serif;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

footer .footer-limiter {
  max-width: 780px;
  margin: 0 auto;
}

footer .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

footer p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

footer p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

footer .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

footer .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}


@media (max-width: 600px) {

  footer .footer-left,
  footer .footer-right {
    text-align: center;
  }

  footer .footer-right {
    float: none;
    margin: 0 auto 20px;
  }

  footer .footer-left p.footer-links {
    line-height: 1.8;
  }
}

/******************************************* End Footer  **/