/*
============================================================= 
General Style
============================================================= 
*/

body,
html {
  font-family: 'Playfair Display', serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding-right: 0 !important;
}

hr {
  background: #d5ad18;
  box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


/*
============================================================= 
Background
============================================================= 
*/




.rgba-gradient {
  height: 100vh;
  background: linear-gradient(to left, #292E49, #9fc0d3);
}


.heading {
  font-family: "Playfair Display", serif;
  padding-top: 10px;
  padding-left: 200px;
  font-size: 5vw;
  text-transform: uppercase;

}

.heading1 {
  padding-left: 200px;
  padding-top: 200px;
  font-family: "Playfair Display", serif;
  font-size: 4vw;
  text-transform: uppercase;

}

.heading3 {
  padding-left: 200px;
  padding-top: 100px;
  font-family: "Playfair Display", serif;
  font-size: 4vw;
  text-transform: uppercase;
}




.subheading {
  font-family: "Playfair Display", serif;
  font-size: 3em;
  line-height: 1.5;
  text-transform: uppercase;

}


@media screen and (max-width: 1024px) {

  .heading {
    padding-left: 0;
    font-size: 9vw;
  }

}

@media screen and (max-width: 1024px) {
  body {
    width: 100%;
  }

  .heading1 {
    padding-left: 0;
    padding-top: 200px;
    font-size: 9vw;
  }

  .heading3 {

    padding-left: 0;
    padding-top: 100px;
    font-size: 9vw;

  }

  .subheading {
    padding-right: 0;
    font-size: 4vw;
  }

}

/*================================================
Start Important Part
==================================================*/
.underline--magical {
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  animation: widthStretch 2s ease;

}

.underline--magical:hover {
  background-size: 100% 88%;
}

/*================================================
End Important Part
==================================================*/


.paragraphUnderline:after {
  content: '';
  display: flex;
  height: 10px;
  margin-top: 6px;
  width: 100%;
  animation: widthStretch 2s ease;
}

@keyframes widthStretch {
  from {
    width: 0;
    background: transparent;
  }

  to {
    width: 100%;
  }
}


.ml12 {
  padding-left: 100px;
  font-weight: 200;
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letters {
  padding-left: 200px;
  line-height: 1em;
  position: absolute;
  margin: auto;
  left: 10px;
  right: 0;
  opacity: 0;
}


@media screen and (max-width: 1024px) {
  .ml12 .letters {
    padding-left: 0;
    padding-top: 20px;
    font-size: 3.2rem;
  }

}

































































/*
============================================================= 
Navbar
============================================================= 
*/

.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
}

@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}

.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid #d5ad18;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}

@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}

@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}

nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #d5ad18;
  display: block;
}

.main_h .row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

/*
============================================================= 
Scroll Btn
============================================================= 
*/


.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down p {
  font-size: 30px;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid rgb(0, 0, 0);
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid rgb(0, 0, 0);
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.scroll-down-text {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  width: 100%;
  top: 88%;
  left: 0;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  padding: 0 15px;
}


/*
============================================================= 
About Section
============================================================= 
*/

.display-3 {
  color: #FFB302;
}

#about {
  background-color: rgb(65, 65, 65);
  font-size: 25px;
  color: rgb(189, 189, 189);
}

/* projects text */
#projects {
  color: #8f9296;

}

/*end projects text*/
.feature-content {
  padding: 8rem 0;
  overflow: hidden;
}



/*
============================================================= 
services section
============================================================= 
*/



#services {
  background-color: rgba(65, 65, 65, 0.897);
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 140px 0;
}

.service-block {
  color: white;
  padding: 30px;
}

.service-block .icon {
  color: rgb(235, 235, 235);
  font-size: 60px;
  opacity: 1;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.service-block .service-icon-animate {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.hb:nth-child(1),
.hb:nth-child(2),
.hb:nth-child(3) {
  border-bottom: 1px #d5ad18 solid;
}

@media screen and (max-width: 991px) {
  .hb:nth-child(-n+4) {
    border-bottom: 1px #d5ad18 solid;
  }
}

@media screen and (max-width: 768px) {
  .hb:nth-child(5) {
    border-bottom: 1px #d5ad18 solid;
  }
}

.vb:nth-child(1),
.vb:nth-child(2),
.vb:nth-child(4),
.vb:nth-child(5) {
  border-right: 1px #d5ad18 solid;
}

@media screen and (max-width: 991px) {

  .vb:nth-child(1),
  .vb:nth-child(2),
  .vb:nth-child(4),
  .vb:nth-child(5) {
    border-right: none;
  }

  .vb:nth-child(2n+1) {
    border-right: 1px #d5ad18 solid;
  }
}

@media screen and (max-width: 768px) {
  .vb:nth-child(-n+6) {
    border-right: none;
  }
}


/*
============================================================= 
Projects
============================================================= 
*/
























/*
============================================================= 
Testimonials
============================================================= 
*/
.shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ECECEC;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#customers-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}

.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: #b78c33;
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

#customers-testimonials .item {
  text-align: center;
  padding: 50px;
  margin-bottom: 80px;
  opacity: .2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #b78c33;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #b78c33;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}

/*
============================================================= 
Footer
============================================================= 
*/

footer.nb-footer {

  background: #222;
  border-top: 4px solid #b78c33;
}

footer.nb-footer .about {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1170px;
  text-align: center;
}

footer.nb-footer .about p {
  font-size: 13px;
  color: #999;
  margin-top: 30px;
}

footer.nb-footer .about .social-media {
  margin-top: 15px;
}

footer.nb-footer .about .social-media xl lx a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 16px;
  color: #b78c33;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

footer.nb-footer .about .social-media xl lx a:hover {
  background: #b78c33;
  color: #fff;
  border-color: #b78c33;
}

footer.nb-footer .footer-info-single {
  margin-top: 30px;
}

footer.nb-footer .footer-info-single .title {
  color: #aaa;
  text-transform: uppercase;
  font-size: 16px;
  border-left: 4px solid #b78c33;
  padding-left: 5px;
}

footer.nb-footer .footer-info-single xl lx a {
  display: block;
  color: #aaa;
  padding: 2px 0;
}

footer.nb-footer .footer-info-single xl lx a:hover {
  color: #b78c33;
}

footer.nb-footer .footer-info-single p {
  font-size: 13px;
  line-height: 20px;
  color: #aaa;
}

footer.nb-footer .copyright {
  margin-top: 15px;
  background: #111;
  padding: 7px 0;
  color: #999;
}

footer.nb-footer .copyright p {
  margin: 0;
  padding: 0;
}