body,
html {
  font-family: 'Raleway', sans-serif;
  background-color: #e9e9e9;
  scroll-behavior: smooth;
}

/******************************************* Landing page**/

#home {
  height: 100vh;
  min-height: 500px;
  background: url("/base/static/img/cover.jpg");
  background-color: #222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
}


/******************************************* Nav with parallax**/
.nav-item {
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}
.nav-item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.nav-item:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.nav-item::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.nav-item:hover::after {
	opacity: 1;
	transform: scale(1,1);
}







#background {
  height: 100vh;
  min-height: 500px;
  background: url(../img/cover.jpg);
  background-color: #222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
}

.header .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header h1,
header h2 {
  margin: 0;
}

.header h2 {
  text-transform: uppercase;
  margin-top: -.5em;
}

.site {
  text-align: center;
  background-color: #efefef;
  font-size: .8em;
  position: relative;
}

.site a {
  color: #666;
  text-decoration: none;
}

.site a:hover {
  color: #222;
}

.site nav {
  position: absolute;
  top: 0;
  left: 0;
  background: #292c2f;
  width: 100%;
  z-index: 300;
}

.site nav a {
  padding: 10px 30px;
  font-size: 1.7em;
  display: inline-block
}

.site nav a:hover {
  background: rgb(218, 218, 218);
  color: #222;
}


/******************************************* end Nav with parallax**/

/******************************************* Scroll BTN **/


.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down p {
  font-size: 30px;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid rgb(0, 0, 0);
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid rgb(0, 0, 0);
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.scroll-down-text {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  width: 100%;
  top: 88%;
  left: 0;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  padding: 0 15px;
}



/******************************************* End Scroll BTN **/



/* about */
#about {
  font-size: 25px;
  color: #8f9296;
}

/* projects text */
#projects {
  color: #8f9296;

}
/*end projects text*/
.feature-content {
  padding: 8rem 0;
  overflow: hidden;
}

/* hr */

hr {
  width: 60%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0);
}

/******************************************* Intro text on the background **/


.intro {
  position: absolute;
  width: 100%;
  top: 35%;
  left: 0;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  padding: 0 15px;
}

.intro h3 {
  font-weight: 800;
}

.start {
  font-family: 'Raleway', sans-serif;
  font-size: 76px;
  font-style: normal;
  text-transform: none;
  margin: 0px 0;
  letter-spacing: 11px;
}

/******************************************* End Intro text on the background **/

/******************************************* Projects collumn **/






/******************************************* end Projects collumn **/


/******************************************* Project card **/

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}


.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: auto;
}

#card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.contactme a {
  display: inline-block;
  width: 55px;
  height: 45px;
  border-radius: 2px;
  font-size: 30px;
  color: #181818;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  margin: 10px;
}


/******************************************* End Project card **/



/* start contact me */
#contact{
  font-family: 'Raleway', sans-serif;
  background-color: #e9e9e9;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 70px;
  }
  
  #success-message {
    opacity: 0;
  }

  #contact-form {
    float: right;
  }
  .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    padding: 0 20% 0 20%;
  }
  
  .margin-top-25 {
    margin-top: 25px;
  }
  
  .form-title {
    padding: 45px;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
  }
  
  .form-group .form-control {
    border-bottom: 1px;
    border-style: none none solid none;
    border-radius: 0;
    border-color: #000;
  }
  
  .form-group .form-control:focus {
    box-shadow: none;
    border-width: 0 0 2px 0;
    border-color: #000;
  
  }
  
  textarea {
    resize: none;
  }
  
  .btn-mod.btn-large {
    height: auto;
    padding: 13px 52px;
    font-size: 15px;
  }
  
  .btn-mod.btn-border {
    color: #292c2f;
    background: transparent;
  }
  
  .btn-mod,
  a.btn-mod {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 13px;
    color: #fff;
    background: #292c2f;
    border: 1px solid transparent;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }
  
  .btn-mod.btn-border:hover,
  .btn-mod.btn-border:active,
  .btn-mod.btn-border:focus,
  .btn-mod.btn-border:active:focus {
    color: #fff;
    border-color: #000;
    background: #292c2f;
    outline: none;
  }
  
  @media only screen and (max-width: 500px) {
    .btn-mod.btn-large {
      padding: 6px 16px;
      font-size: 11px;
    }
  
    .form-title {
      font-size: 20px;
    }
  }
  /* end contact me */

/******************************************* End Contact  **/


/******************************************* End Page section show  **/



.page-section {
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  animation: all 0.5s ease;
  flex-direction: column-reverse;
  justify-content: center;
}

.technologies {
  margin-top: 25px;
  font-size: 1.9em;
  flex-wrap: wrap;
}

.technologies .parallax {
  background-color: #8f9296;
  opacity: 1;
}

/******************************************* End Page section show  **/

/******************************************* Footer  **/


footer {
  font-family: 'Raleway', sans-serif;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

footer .footer-limiter {
  max-width: 780px;
  margin: 0 auto;
}

footer .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

footer p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

footer p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

footer .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

footer .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}


@media (max-width: 600px) {

  footer .footer-left,
  footer .footer-right {
    text-align: center;
  }

  footer .footer-right {
    float: none;
    margin: 0 auto 20px;
  }

  footer .footer-left p.footer-links {
    line-height: 1.8;
  }
}
/******************************************* End Footer  **/
